# Fase 1: Compresión del problema

In [11]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('/Users/luisolavarria/Documents/kedro/fortnite-machine/data/Fortnite_players_stats.csv', sep=",")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Player                1435 non-null   object
 1   Solo score            1435 non-null   int64
 2   Solo top1             1435 non-null   int64
 3   Solo kd               1435 non-null   float64
 4   Solo winRatio         1435 non-null   float64
 5   Solo matches          1435 non-null   int64
 6   Solo kills            1435 non-null   int64
 7   Solo minutesPlayed    1435 non-null   int64
 8   Duos score            1435 non-null   int64
 9   Duos top1             1435 non-null   int64
 10  Duos kd               1435 non-null   float64
 11  Duos winRatio         1435 non-null   float64
 12  Duos matches          1435 non-null   int64
 13  Duos kills            1435 non-null   int64
 14  Duos minutesPlayed    1435 non-null   int64
 15  Trios score           1411 non-null   float64
 16  Trios top1            1411 non-null   float64
 17  Trios kd              1411 non-null   float64
 18  Trios winRatio        1411 non-null   float64
 19  Trios matches         1411 non-null   float64
 20  Trios kills           1411 non-null   float64
 21  Trios minutesPlayed   1411 non-null   float64
 22  Squads score          1434 non-null   float64
 23  Squads top1           1434 non-null   float64
 24  Squads kd             1434 non-null   float64
 25  Squads winRatio       1434 non-null   float64
 26  Squads matches        1434 non-null   float64
 27  Squads kills          1434 non-null   float64
 28  Squads minutesPlayed  1434 non-null   float64
 29  LTM score             1434 non-null   float64
 30  LTM top1              1434 non-null   float64
 31  LTM top3              1434 non-null   float64
 32  LTM kd                1434 non-null   float64
 33  LTM winRatio          1434 non-null   float64
 34  LTM matches           1434 non-null   float64
 35  LTM kills             1434 non-null   float64
 36  LTM minutesPlayed     1434 non-null   float64
dtypes: float64(26), int64(10), object(1)
memory usage: 414.9+ KB

In [14]:
df.head()

,Player,Solo score,Solo top1,Solo kd,Solo winRatio,Solo matches,Solo kills,Solo minutesPlayed,Duos score,Duos top1,...,Squads kills,Squads minutesPlayed,LTM score,LTM top1,LTM top3,LTM kd,LTM winRatio,LTM matches,LTM kills,LTM minutesPlayed
0,Prospеring,2476763,1828,4.37,18.0,10150,36328,81389,4702684,5584,...,75787.0,117967.0,101589.0,170.0,118.0,5.78,26.8,634.0,2682.0,2865.0
1,BH nixxxay,439562,1694,8.71,29.1,5817,35895,12732,4065613,4141,...,117327.0,150439.0,151358.0,229.0,190.0,8.20,18.2,1259.0,8442.0,4206.0
2,Raпger,4519465,4582,9.60,34.0,13488,85481,122171,1137279,1390,...,76065.0,86684.0,452136.0,1180.0,818.0,11.12,32.9,3583.0,26726.0,12273.0
3,Idk_Pi,752869,121,0.84,3.3,3687,3005,32453,5326457,2249,...,6892.0,80016.0,1748407.0,190.0,246.0,2.33,5.4,3539.0,7787.0,33224.0
4,Twitch.GryphonRB,1136282,1327,6.32,30.0,4429,19591,36245,3692623,5743,...,46068.0,81424.0,556721.0,824.0,600.0,14.99,53.3,1546.0,10826.0,12019.0

In [15]:
columnas = df.columns
for columna in columnas:
  if df[columna].dtype == int:
    print(f"Columna {columna} ------ Tipo de variable: Cuantitativa discreta")
  elif df[columna].dtype == float:
    print(f"Columna {columna} ------ Tipo de variable: Cuantitativa continua")
  elif df[columna].dtype == object:
    print(f"Columna {columna} ------ Tipo de variable: Cualitativa nominal")
  elif df[columna].dtype == bool:
    print(f"Columna {columna} ------ Tipo de variable: Cualitativa ordinal")

Columna Player ------ Tipo de variable: Cualitativa nominal
Columna Solo score ------ Tipo de variable: Cuantitativa discreta
Columna Solo top1 ------ Tipo de variable: Cuantitativa discreta
Columna Solo kd ------ Tipo de variable: Cuantitativa continua
Columna Solo winRatio ------ Tipo de variable: Cuantitativa continua
Columna Solo matches ------ Tipo de variable: Cuantitativa discreta
Columna Solo kills ------ Tipo de variable: Cuantitativa discreta
Columna Solo minutesPlayed ------ Tipo de variable: Cuantitativa discreta
Columna Duos score ------ Tipo de variable: Cuantitativa discreta
Columna Duos top1 ------ Tipo de variable: Cuantitativa discreta
Columna Duos kd ------ Tipo de variable: Cuantitativa continua
Columna Duos winRatio ------ Tipo de variable: Cuantitativa continua
Columna Duos matches ------ Tipo de variable: Cuantitativa discreta
Columna Duos kills ------ Tipo de variable: Cuantitativa discreta
Columna Duos minutesPlayed ------ Tipo de variable: Cuantitativa discreta
Columna Trios score ------ Tipo de variable: Cuantitativa continua
Columna Trios top1 ------ Tipo de variable: Cuantitativa continua
Columna Trios kd ------ Tipo de variable: Cuantitativa continua
Columna Trios winRatio ------ Tipo de variable: Cuantitativa continua
Columna Trios matches ------ Tipo de variable: Cuantitativa continua
Columna Trios kills ------ Tipo de variable: Cuantitativa continua
Columna Trios minutesPlayed ------ Tipo de variable: Cuantitativa continua
Columna Squads score ------ Tipo de variable: Cuantitativa continua
Columna Squads top1 ------ Tipo de variable: Cuantitativa continua
Columna Squads kd ------ Tipo de variable: Cuantitativa continua
Columna Squads winRatio ------ Tipo de variable: Cuantitativa continua
Columna Squads matches ------ Tipo de variable: Cuantitativa continua
Columna Squads kills ------ Tipo de variable: Cuantitativa continua
Columna Squads minutesPlayed ------ Tipo de variable: Cuantitativa continua
Columna LTM score ------ Tipo de variable: Cuantitativa continua
Columna LTM top1 ------ Tipo de variable: Cuantitativa continua
Columna LTM top3 ------ Tipo de variable: Cuantitativa continua
Columna LTM kd ------ Tipo de variable: Cuantitativa continua
Columna LTM winRatio ------ Tipo de variable: Cuantitativa continua
Columna LTM matches ------ Tipo de variable: Cuantitativa continua
Columna LTM kills ------ Tipo de variable: Cuantitativa continua
Columna LTM minutesPlayed ------ Tipo de variable: Cuantitativa continua

In [16]:
##identificación datos nulos

df.isna().sum()

Player                   0
Solo score               0
Solo top1                0
Solo kd                  0
Solo winRatio            0
Solo matches             0
Solo kills               0
Solo minutesPlayed       0
Duos score               0
Duos top1                0
Duos kd                  0
Duos winRatio            0
Duos matches             0
Duos kills               0
Duos minutesPlayed       0
Trios score             24
Trios top1              24
Trios kd                24
Trios winRatio          24
Trios matches           24
Trios kills             24
Trios minutesPlayed     24
Squads score             1
Squads top1              1
Squads kd                1
Squads winRatio          1
Squads matches           1
Squads kills             1
Squads minutesPlayed     1
LTM score                1
LTM top1                 1
LTM top3                 1
LTM kd                   1
LTM winRatio             1
LTM matches              1
LTM kills                1
LTM minutesPlayed        1
dtype: int64

In [19]:
##ver si hay datos duplicados (no hay)
dataDuplicada = df.duplicated().sum()
dataDuplicada

np.int64(0)